body
{
  background-color: #9EC1A3;
  font-size: 120%;
  font-family: cursive;
  margin: 0px;
}
h1
{
  text-align: center;
  font-family: sans-serif;
}
.form
{
  width: 25%;
  float: left;
  background-color: #70A9A1;
}
.calendar
{
  width: 75%;
  float: right;
  background-color: #CFE0C3;
}
