body
{
  background-color: #9EC1A3;
  font-size: 100%;
  font-family: cursive;
  margin: 0px;
}
h1
{
  text-align: center;
  font-family: sans-serif;
  height:auto;
}
#form
{
  width: 25%;
  float: left;
  background-color: #70A9A1;
}
#form p
{
  text-align: center;
}
#calendar
{
  width: 75%;
  float: right;
  background-color: #CFE0C3;
  overflow-y:scroll;
  overflow-x: hidden;
  height:500px;
}
#calCan
{
  background-color: white;
}
